<div class="container mt-5">
  <div class="card">
    <div class="card-header">
      Employee
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-header">
              Create
            </div>
            <div class="card-body">
              <form [formGroup]="EmployeeformGroup" (ngSubmit)="Onsubmit()">
                <div class="row">
                  <div class="col-sm-12 mb-2">
                    <label>Name</label>
                    <input type="text" formControlName = "name"  class="form-control">

                  </div>
                  <div class="col-sm-12 mb-2">
                    <label>Mobile No</label>
                    <input type="text" formControlName = "mobileNo" class="form-control">

                  </div>
                  <div class="col-sm-12 mb-2">
                    <label>Email Id</label>
                    <input type="text" formControlName = "emailId" class="form-control">

                  </div>
                  <div class="col-sm-12 mb-2">
                    <button  class="btn btn-primary" type="submit">
                      Create
                    </button>

                  </div>
                        </div>
              </form>
            </div>
          </div>

        </div>

        <div class="col-sm-6">
            <table class="table" *ngIf="EmployeeArray.length>0">
              <thead>
                <tr>
                  <td>
                    Name
                  </td>
                  <td>
                   Mobile No
                  </td>
                  <td>
                    Email Id
                  </td>
                  <td>Action</td>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let emp of EmployeeArray" >
                  <td> {{emp.name}} </td>
             
                  <td>
                  {{emp.mobileNo}}
                  </td>
                  <td>
                   {{emp.emailId}}
                  </td>
                  <td>
                    <button (click)="EditEmp(emp)" class="btn btn-link">
                      Edit
                    </button>
                    <button (click)="Deletemp(emp.id)" class="btn btn-link">
                      Delete
                    </button>
                  </td>
                </tr>
               </tbody>
           </table>
           


          </div>

        </div>
      </div>
    </div>
  </div>

